EXECUTION_SERVER_TOKEN=

# THIS EXECUTION SERVER WILL BE EXPOSED TO THE HOST VIA DOCKER COMPOSE,
# !!!  EDIT THE FORWARDED PORTS INSIDE DOCKER-COMPOSE.YML INSTEAD  !!!
EXECUTION_SERVER_PORT=6200
EXECUTION_SERVER_HOST=0.0.0.0