SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_BOT_MEMBER_ID=U0BRTN1TS1H
SLACK_BOT_TEST_CHANNEL=C0BS4G20ZR7
OLLAMA_HOST=127.0.0.1:11434
MODEL=gemma4:e2b
CONTEXT_WINDOW_SIZE=32768
TEMPERATURE=0.8
THINKING_MODE=true
STREAM_MODE=true
TOOLS_ENABLED=true
TITLE_GENERATION=true   # to be added
TITLE_GENERATION_MODEL=__default   # '__default' or comment out this setting if you want the model listed
MAX_PREVIOUS_MESSAGES=15
EXECUTION_SERVER=127.0.0.1:6200   # remove this parameter to disable the execution server
EXECUTION_SERVER_TOKEN=
SEARXNG_SERVER=127.0.0.1:6201   # remove this parameter to disable SEARXNG and web search